.user-details {
    .label, label {
        font-weight: bold;
        text-decoration: underline;
        padding-right: 20px;
        display: inline-block;
        min-width: 120px;
    }

    .form-field {
        margin: 1em 0;
    }

    .save-button {
        padding: 8px;
        outline: none;
        cursor: pointer;
    }
}
.error-message {
    color: red;
}